# As to not include potentially private/restricted or privledged information, this is a general .gitignore file

# Ignore compiled executable files
*.exe

# Ignore text files
*.txt

# Ignore certain directories 
/L*/
/l*/
/S*/
/s*/
/Output

# Ignore directories named test or Test
/test/
/Test/

# Ignore files and directories containing 'test' in their name
*test*
